server {
    listen 80;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    location = /api/v2/exports {
        client_max_body_size 48m;
        proxy_pass ${FLOW_EXPORT_BACKEND};
        proxy_set_header Host $proxy_host;
        proxy_ssl_server_name on;
        proxy_ssl_verify_depth 3;
        proxy_ssl_verify on;
        proxy_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
    }

    location ^~ /exports/ {
        proxy_pass ${FLOW_EXPORT_BACKEND};
        proxy_set_header Host $proxy_host;
        proxy_ssl_server_name on;
        proxy_ssl_verify_depth 3;
        proxy_ssl_verify on;
        proxy_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
